header nav li {
  font-family: 'Bebas Neue', cursive; }

header nav span {
  font-family: 'Gabriela', serif; }

body {
  font-family: 'Amaranth', sans-serif; }

.byAlejandra {
  font-family: 'Gabriela', serif; }

ul {
  list-style: none;
  display: flex;
  justify-content: center; }
  ul li {
    display: inline; }
    ul li a {
      text-decoration: none; }

header {
  background-color: #c6739e; }
  header nav .navIcono {
    display: none; }
  header nav div {
    display: flex;
    justify-content: center; }
    header nav div li {
      font-size: 1.5rem;
      padding: 10px 5px; }
      header nav div li:hover {
        background-color: #b1628b;
        border-radius: 8px; }

@media (max-width: 767px) {
  header nav .navIcono {
    display: block; }
  header nav div {
    justify-content: flex-start; } }

footer {
  font-size: 17px;
  display: flex;
  height: 10vh;
  background-color: #c6739e;
  padding: 10px;
  align-items: center;
  justify-content: center; }
  footer ul li {
    color: white;
    margin: 12px; }
    footer ul li a {
      color: white; }

@media (max-width: 768px) {
  footer {
    font-size: 14px; } }

@media (max-width: 650px) {
  footer ul li {
    display: block;
    margin: 10px 0px 0px 0px; } }

@media (max-width: 505px) {
  footer {
    font-size: 12px; } }

@media (max-width: 440px) {
  footer {
    font-size: 10px; } }

main .fondoLogo {
  padding: 10px;
  background-image: url(../imagenes/index/fondoIndex1.jpeg); }
  main .fondoLogo img {
    padding: 30px 50px; }
  main .fondoLogo h3 {
    background-color: #c6739e;
    border-radius: 8px;
    color: white; }

main .carouselSection {
  background-color: antiquewhite; }
  main .carouselSection .carousel-inner {
    padding: 4%;
    background-color: #e9f0f0;
    margin: 6% 20%;
    border-style: double;
    border-width: 8px;
    border-radius: 10px; }
  main .carouselSection aside {
    padding: 3%; }
    main .carouselSection aside .icon-black, main .carouselSection aside .icon-black:hover {
      color: black;
      background-color: white; }

@media (min-width: 1024px) {
  main .carouselSection aside {
    font-size: 20px; } }

@media (max-width: 768px) {
  main .fondoLogo h3 {
    font-size: 18px; } }

@media (max-width: 425px) {
  main .fondoLogo h3 {
    font-size: 13px; }
  main .carouselSection aside {
    font-size: 12px; } }

.mainDulces {
  background-image: url(../imagenes/dulcesCreaciones/fondo.jpg); }
  .mainDulces figure {
    margin: 0px; }
    .mainDulces figure article .card {
      background-color: #f6efe5; }
    .mainDulces figure .row div {
      display: flex;
      justify-content: center; }
      .mainDulces figure .row div .card-body {
        padding: 5px 16px; }
      .mainDulces figure .row div img {
        border: 8px double #5b5b5f;
        border-radius: 8px; }
    .mainDulces figure .card2 {
      padding: 2%;
      text-align: center; }
      .mainDulces figure .card2 .row .card div .instagram {
        background: #f09433;
        background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
        background: -webkit-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
        background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
        border-color: #e6683c; }
      .mainDulces figure .card2 .row .card div a {
        margin: 0px 10px; }

@media (max-width: 768px) {
  .mainDulces figure .row div {
    justify-content: center; } }

.bodyMenu {
  background-color: #b3e1ea; }
  .bodyMenu .mainMenu figure {
    background-color: #5dc5da;
    border-radius: 14px;
    border-style: double;
    border-color: #b3e1ea;
    border-width: 14px;
    padding: 15px; }
  .bodyMenu .mainMenu article {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 2rem; }
    .bodyMenu .mainMenu article h3 {
      background-color: #5dc5da;
      padding: 5px;
      width: 80%;
      color: white;
      border-radius: 8px; }

.bodyServicios {
  background-image: url(../imagenes/servicios/fondo.jpg); }
  .bodyServicios main {
    padding: 5%; }
    .bodyServicios main article {
      color: white;
      padding: 1.5rem; }
      .bodyServicios main article h3 {
        text-align: center;
        width: 40%;
        background-color: #ccb69c;
        border-radius: 8px;
        border-style: double;
        border-color: black;
        border-width: 5px; }
    .bodyServicios main .card {
      font-size: 18px;
      border-radius: 8px;
      border-style: double;
      border-color: black;
      border-width: 5px; }

form {
  border: 5px black double;
  border-radius: 8px;
  padding: 20px; }
  form .col {
    display: flex;
    justify-content: center; }
  form input {
    margin: 10px 0px; }
  form button {
    margin: 1vh 19vw; }

.mainContacto {
  padding: 25px;
  background-image: url(../imagenes/contacto/fondo.webp); }
  .mainContacto .formSection {
    padding: 0px; }
    .mainContacto .formSection form {
      background-color: #eeeeeeb7; }
  .mainContacto article {
    display: flex;
    justify-content: center;
    margin: 0px; }
    .mainContacto article h3 {
      background-color: #c6739e;
      margin: 20px;
      text-align: center;
      border-radius: 8px;
      border: 2px black solid;
      width: 55%; }
  .mainContacto .contactoSection img {
    width: 150px;
    height: 150px;
    margin-right: 20px; }
  .mainContacto .contactoSection .img2 {
    height: 100px; }
  .mainContacto .contactoSection .row {
    justify-content: center; }
    .mainContacto .contactoSection .row div {
      display: flex;
      justify-content: flex-end; }
    .mainContacto .contactoSection .row .div2 {
      justify-content: flex-start;
      align-items: center; }
      .mainContacto .contactoSection .row .div2 p {
        font-size: 1.5vw;
        border: 5px black double;
        border-radius: 8px;
        padding: 5px;
        background-color: #eeeeeeb7; }

@media (max-width: 768px) {
  .mainContacto .contactoSection img {
    margin-right: 0px; }
  .mainContacto .contactoSection .row div {
    justify-content: center; }
  .mainContacto .contactoSection .row .div2 {
    justify-content: center; } }

@media (max-width: 768px) {
  .mainContacto .contactoSection .row .div2 p {
    font-size: 3vh; } }
