footer {
    font-size: 17px;
    display: flex;
    height: 10vh;
    background-color: $rosado;
    padding: 10px;
    align-items: center;
    justify-content: center;
    ul {
        li {
            color: white;
            margin: 12px;
            a {
                color: white;
            }
        }
    }
}

@media (max-width: 768px) {
    footer {
        font-size: 14px;
    }
}

@media (max-width: 650px) {
    footer {
        ul {
           li {
                display: block;
                margin: 10px 0px 0px 0px;
            } 
        }
    }
}

@media (max-width: 505px) {
    footer {
        font-size: 12px;
    }
}


@media (max-width: 440px) {
    footer {
        font-size: 10px;
    }
}
