header {
    nav {
        li {
            font-family: 'Bebas Neue', cursive;
        }
        span {
            font-family: 'Gabriela', serif;
        }
    }
}

body {
    font-family: 'Amaranth', sans-serif;
}