header {
    background-color: $rosado;
    justify-content: center;
    nav {
        
        .navIcono {
            display: none;
        }
        div {
            display: flex;
            justify-content: center;
            li {
                font-family: 'Bebas Neue', cursive;
                font-size: 1.5rem;
                padding: 10px 5px;
                a {
                    &:hover {
                    background-color: $rosadooscuro;
                    }
                }
            }
        }
        
    } 
}

@media (max-width: 767px) {
    header {
        nav {
            .navIcono {
            display: block;
            } 
        }
        
    }
}
