.bodyServicios {
    background-image: url(../imagenes/servicios/fondo.jpg);
    main {
        padding: 5%;
        article {
            color: white;
            padding: 1.5rem;
            h3 {
                text-align: center;
                width: 40%;
                background-color: rgb(204, 182, 156);
                border-radius: 8px;
                border-style: double;
                border-color: black;
                border-width: 5px;
            }
        }
        .card {
            font-size: 18px;
            border-radius: 8px;
            border-style: double;
            border-color: black;
            border-width: 5px;
        }
    }
}
