.mainDulces {
    background-image: url(../imagenes/dulcesCreaciones/fondo.jpg);
    
    figure {
        margin: 0px;
        article {
            .card {
                background-color: rgb(246, 239, 229);
            }
        }
        .row {
            div {
                display: flex;
                justify-content: center;
                .card-body {
                    padding: 5px 16px;
                }
                img {
                    
                    border: 8px double rgb(91, 91, 95);
                    border-radius: 8px;
                }
            }
        }
        .card2 {
            padding: 2%;
            text-align: center;
            .row {
                .card {
                    div {
                        .instagram {
                            background: #f09433; 
                            background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
                            background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
                            background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
                            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
                            border-color: #e6683c;
                        }
                        a {
                            @include margin(0px, 10px)
                        }
                    }   
                }
            }
            
                
        }
    }
    

}

@media (max-width: 768px) {
    .mainDulces {
        figure {
            .row {
                div {
                    justify-content: center;
                }
            }
        }
    }
}