form {
    border: 5px black double;
    border-radius: 8px;
    padding: 20px;
    .col {
        display: flex;
        justify-content: center;
    }
    input {
        margin: 10px 0px;
    }
    button {
        margin: 0.5vh 21vw;
    }
}