form {
    border: 5px black double;
    border-radius: 8px;
    padding: 20px;
    .col {
        display: flex;
        justify-content: center;
    }
    input {
        @include margin(10px, 0px);
    }
    button {
        margin: 1vh 19vw;
    }
    
}