header {
    background-color: $rosado;
    nav {
        .navIcono {
            display: none;
        }
        div {
            display: flex;
            justify-content: center;
            li {
                font-size: 1.5rem;
                padding: 10px 5px;
                &:hover {
                    background-color: $rosadooscuro;
                    border-radius: 8px;
                }
            }
        }
        
    } 
}

@media (max-width: 767px) {
    header {
        nav {
            .navIcono {
            display: block;
            }
            div {
                justify-content: flex-start;
            } 
        }
        
    }
}
